---
# Also used by Oracle Linux
# ansible_lsb.id: OracleServer
# ansible_distribution: OracleLinux
#
# See mit.zabbix-agent.common/vars/Debian.yml for defaults

- name: Set defaults
  ansible.builtin.set_fact:
    mit_init_system: "{{ mit_init_system | default('systemd') }}"

- name: Gather the package facts
  ansible.builtin.package_facts:
    manager: auto
  when: ansible_facts.packages is not defined

- name: Copy sudo rules for service status
  ansible.builtin.copy:
    src: sudoers.d/local-mit-zabbix-agent-package
    dest: /etc/sudoers.d/
    mode: "0440"
    validate: visudo -cf %s
  when: >
    'dbus' not in ansible_facts.packages
    or mit_init_system == 'sysvinit'

- name: Copy local-userparameter_*
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: "{{ zabbix_agent_conf_dir }}"
    mode: "644"
  with_items:
    - local-userparameter_apt.conf
    - local-userparameter_docker.conf
    - local-userparameter_system-sw-packages-version.conf
  notify: Restart zabbix-agent

- name: Copy binaries
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: /opt/bin/
    mode: "0755"
  loop:
    - zabbix-docker-state
    - zabbix-lld-docker-container
    - zabbix-lld-service-discovery

- name: Copy local-userparameter_service.conf (file)
  ansible.builtin.copy:
    src: Linux/{{ mit_init_system }}/local-userparameter_service.conf
    dest: "{{ zabbix_agent_conf_dir }}"
    mode: "644"
  notify: Restart zabbix-agent
  when: mit_init_system == 'sysvinit'

- name: Copy local-userparameter_service.conf (template)
  ansible.builtin.template:
    src: Linux/{{ mit_init_system }}/local-userparameter_service.conf
    dest: "{{ zabbix_agent_conf_dir }}"
    mode: "644"
  notify: Restart zabbix-agent
  when: mit_init_system == 'systemd'

- name: Remove deprecated configuration
  ansible.builtin.file:
    dest: "{{ zabbix_agent_conf_dir }}/{{ item }}"
    state: absent
  loop:
    - local-userparameter_systemd.conf

# flush handlers before removing deprecated files
- name: Flush handlers
  ansible.builtin.meta: flush_handlers

- name: Remove deprecated binaries
  ansible.builtin.file:
    dest: /usr/local/bin/{{ item }}
    state: absent
  loop:
    - zabbix-docker-state
    - zabbix-lld-docker-container

# https://wiki.debian.org/SystemGroups
- name: Add user zabbix to group adm
  ansible.builtin.user:
    name: zabbix
    groups: adm
    append: true
  notify: Restart zabbix-agent
